<nav class="navbar">
  <input type="checkbox" id="nav-toggle" hidden />
    <img src="images/ytronix_logo.png"
      alt="Logo" class="logo"/>
      
       <!-- Hamburger Toggle (Label linked to checkbox) -->
  <label for="nav-toggle" class="hamburger">&#9776;</label>
    <div class="nav-links">
      
      <a href="/">Home</a>
      
    
      <div class="dropdown">
        <a href="" class="dropdown-btn">Our Services ▼</a>
        <ul class="dropdown-menu">

          <li class="has-submenu">
            <p>Website/Web App Design & Development </p>
            <ul class="submenu">
                <li><a href="/angular">Angular js Development</a></li>
                <li><a href="/node">Node js Development</a></li>
                <li><a href="/react">React js Development</a></li>
                <li><a href="/java">java  Development</a></li>
                <li><a href="/dotnet">.Net  Development</a></li>
                <li><a href="/php">PHP Development</a></li>
                <li><a href="/python">Python Development</a></li>
                <li><a href="/wordpress">Wordpres Development</a></li>
                <li><a href="/aws">Aws Development</a></li>
                <li><a href="/codeigniter">Codeigniter Development</a></li>
            </ul>
        </li>
        
            <li class="has-submenu">
                <p>eCommerce Development </p>
                <ul class="submenu">
                    <li><a href="/shopify">Shopify Development</a></li>
                    <li><a href="/woocommerce">Woocommerce Development</a></li>
                    
                </ul>
            </li>

            <li class="has-submenu">
              <p>Mobile App Development </p>
              <ul class="submenu">
                  <li><a href="/iosdevelopment">IOS App Development </a></li>
                  <li><a href="/android">Android App Development</a></li>
                  <li><a href="flutter">Flutter Development</a></li>
                  <li><a href="/reactnative">React Native Development</a></li>

                </ul>
          </li>

          <li class="has-submenu">
            <p>Digital Marketing & SEO Services </p>
            <ul class="submenu">
                <li><a href="/onoffpageseo">On Page / Off Page SEO </a></li>
                <li><a href="/googleadwords">Google Adwords</a></li>
                <li><a href="/digitalmarketing">Digital Marketing</a></li>
            </ul>
        </li>

        <li class="has-submenu">
          <p>Customised ERP & CRM Solution </p>
          <ul class="submenu">
              <li><a href="/enterprisesolution">EnterPrise Solution</a></li>
              <li><a href="/hrm">Human Resource Management</a></li>
              <li><a href="/crm">Customer RelationShip Management</a></li>
          </ul>
      </li>
        </ul>
    </div>

      
      <div class="dropdown">
        <a href="" class="dropdown-btn">Hire Us ▼</a>
       
          <ul class="dropdown-menu">
<li class="has-submenu-hire"><a href="/hireuiux">UI/UX Designer</a></li>
<li class="has-submenu-hire"><a href="/hirefrontend">Frontend Developer</a></li>
<li class="has-submenu-hire"><a href="/hirebackend">Backend Developer</a></li>
<li class="has-submenu-hire"><a href="/hireangular">Angular Developer</a></li>
<li class="has-submenu-hire"><a href="/hirenode">Node Js Developer</a></li>
<li class="has-submenu-hire"><a href="/hirephp">PHP Developer</a></li>
<li class="has-submenu-hire"><a href="/hireandroid">Android Developer</a> </li>
 <li class="has-submenu-hire"><a href="/hireflutter">Flutter Developer</a> </li>
            </ul>
         </div>

         
      <a href="/About">About Us</a>
      <a href="/blogs">Blogs</a>
      <a href="/portfolio">Portfolio</a>
      <a href="/Getintouch" class="btn-get-in-touch">GET IN TOUCH</a>
    </div>
  </nav>