/* footer-content */

.footer-content {
 
    display: flex;
    flex-direction: row; /* Arrange columns in a single row */
    justify-content: space-between; /* Add space between columns */
    align-items: flex-start; /* Align items to the top */
    text-align: left; /* Align text to the left inside each column */
    padding: 20px;
    background-color: #090414;
    border-top: 1px solid #ddd;
    gap: 10px; /* Add spacing between columns */
    flex-wrap: wrap; /* Prevent wrapping to the next line */
    /* flex-wrap: nowrap */
  }
  
  .footer-column {
    height: 300px;
    flex: 1; /* Make all columns take equal space */
    max-width: 250px; /* Limit the width of each column */
    padding: 0% 20px;
    margin: 0px 20px; /* Add horizontal spacing between columns */
  }
  .footer-logo {
    height: 110px;
    margin-bottom: 10px;
    filter: brightness(2.5);
  }
  
  .footer-column h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #faf9f9;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer-column ul li {
    margin-bottom: 5px;
  }
  
  .footer-column ul li a {
    text-decoration: none;
    color: #fcf9f9;
    font-size: 1rem;
  }
  
  .footer-column ul li a:hover {
    color: #007bff;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    font-size: 0.9rem;
    border-top: 1px solid #333; /* Thin black line */
  }
  
  .footer-bottom a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-bottom a:hover {
    color: #007bff; /* Blue color on hover */
  }
  
  .footer-bottom-left,
  .footer-bottom-center,
  .footer-bottom-right {
    flex: 1;
    text-align: center;
  }
  
  .footer-bottom-left {
    text-align: left;
  }
  
  .footer-bottom-right {
    text-align: right;
  }
  .social-icons a img {
    width: 25px;
    margin: 0 10px;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .social-icons a img:hover {
    transform: scale(1.2); /* Slight zoom effect */
    opacity: 0.8; /* Slight fade effect */
  }
  .footer-column p {
    color: #ddd;
    font-size: 0.9rem;
  }
  
  .footer-column p:hover {
    animation: shake 0.3s; /* Add shake animation on hover */
  }
  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
  }
  .contact-button {
    margin-top: 15px;
    text-align: center;
  }
  
  .contact-us-btn {
    padding: 10px 25px;
    background-color: #007bff;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
  }
  
  .contact-us-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  